<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rule name="Static files" stopProcessing="true">
      <action type="Rewrite" url="public{REQUEST_URI}"/>
    </rule>
    <rule name="Express.js API">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
      </conditions>
      <action type="Rewrite" url="index.js"/>
    </rule>
  </system.webServer>
</configuration>